body{
    background: black;
    color: red;
}

.titulo{
    text-align: center;
    font-size: 5em;
    border: 2px red solid;
}
#contenedor{
    display: grid;
    grid-template-columns: repeat(3, 0fr);
    justify-content: center;
    background: url(goj2.jpeg) center;
}

.messi{
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
}
.centro{
    border-right: 5px red solid;
    border-left: 5px red solid;
}
.arriba{
    border-bottom: 5px red solid;
}
.abajo{
    border-top: 5px red solid ;
}
